#In this chapter we will be

In [1]:
from pyspark.sql import SparkSession

In [2]:
# create or fetch a new spark session with a specified job name
spark = SparkSession.builder.appName("Analyzing Stuff").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
24/07/21 14:03:55 WARN Utils: Your hostname, LAPTOP-CDHH1LA0 resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/07/21 14:03:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/21 14:03:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/07/21 14:03:56 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
# get the spark context
spark.sparkContext

In [4]:
# set the logging level
spark.sparkContext.setLogLevel("WARN")

PySpark can  operate either on Resilient Distributed Data sets (RDDs) or DataFrames (DFs).

An RDD is basically a collection of objects that can be treated as rows in a database table.
We typically operate on the objects on a row by row basis

A DF is basically a collection of data series that can be treated as columns in a database table. Heavily influenced by PANDAS
We typically operate on the data on a column by column basis.
The `pyspark.sql` package allows for us to use SQL to operate on dataframes

In [5]:
# we can use spark.read to pull data into a data frame
spark.read

In [6]:
dir(spark.read)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_df',
 '_jreader',
 '_set_opts',
 '_spark',
 'csv',
 'format',
 'jdbc',
 'json',
 'load',
 'option',
 'options',
 'orc',
 'parquet',
 'schema',
 'table',
 'text']

As seen above `spark.read` can from several data formats such as csv, json, jdbc, orc, and parquet.
orc and parquet are competing data formats designed for large amounts of columnar data.

In [7]:
# next we are going to create a dataframe from a text file containing the contents of pride and prejudice
book = spark.read.text("./data/gutenberg_books/1342-0.txt")
# the resulting dataframe has a column called "value" with type "string"
book

DataFrame[value: string]

In [8]:
# "heading" the first 10 values seems to indicate that each line in the text file became a row in the value column
book.head(10)

[Row(value='The Project Gutenberg EBook of Pride and Prejudice, by Jane Austen'),
 Row(value=''),
 Row(value='This eBook is for the use of anyone anywhere at no cost and with'),
 Row(value='almost no restrictions whatsoever.  You may copy it, give it away or'),
 Row(value='re-use it under the terms of the Project Gutenberg License included'),
 Row(value='with this eBook or online at www.gutenberg.org'),
 Row(value=''),
 Row(value=''),
 Row(value='Title: Pride and Prejudice'),
 Row(value='')]

In [9]:
# you can view a more detailed schema in two ways
book.printSchema() # which generates a tree based view

root
 |-- value: string (nullable = true)

In [10]:
# and 
print(book.dtypes) # which would allow for filtering

[('value', 'string')]

In [11]:
# when learning and exploring python it is often helpful to list python functions and attributes with dir
dir(spark)

['Builder',
 '__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_activeSession',
 '_convert_from_pandas',
 '_createFromLocal',
 '_createFromRDD',
 '_create_dataframe',
 '_create_from_pandas_with_arrow',
 '_create_shell_session',
 '_getActiveSessionOrCreate',
 '_get_numpy_record_dtype',
 '_inferSchema',
 '_inferSchemaFromList',
 '_instantiatedSession',
 '_jconf',
 '_jsc',
 '_jsparkSession',
 '_jvm',
 '_repr_html_',
 '_sc',
 'active',
 'addArtifact',
 'addArtifacts',
 'addTag',
 'builder',
 'catalog',
 'clearTags',
 'client',
 'conf',
 'copyFromLocalToFs',
 'createDataFrame',
 'getActiveSession',
 'getTags',
 'interruptAll',
 'interruptOperation',
 'interruptTag',
 'newSession',
 'range',
 'read',
 'readStream',
 'removeTag',
 'sparkContext',
 'sql',
 'stop',
 'streams',
 'table',
 'udf',
 'udtf',
 'version']

In [12]:
# or pull doc strings with 
print(spark.__doc__)

The entry point to programming Spark with the Dataset and DataFrame API.

    A SparkSession can be used to create :class:`DataFrame`, register :class:`DataFrame` as
    tables, execute SQL over tables, cache tables, and read parquet files.
    To create a :class:`SparkSession`, use the following builder pattern:

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    .. autoattribute:: builder
       :annotation:

    Examples
    --------
    Create a Spark session.

    >>> spark = (
    ...     SparkSession.builder
    ...         .master("local")
    ...         .appName("Word Count")
    ...         .config("spark.some.config.option", "some-value")
    ...         .getOrCreate()
    ... )

    Create a Spark session with Spark Connect.

    >>> spark = (
    ...     SparkSession.builder
    ...         .remote("sc://localhost")
    ...         .appName("Word Count")
    ...         .config("spark.some.config.option", "some-value")
    ...         .getOrCreate()
    ... )  # doctest: +SKIP

In [13]:
# in addition to using "head" to display df contents, we can also use show
book.show(n=20, truncate=100, vertical=False)

+--------------------------------------------------------------------+
|                                                               value|
+--------------------------------------------------------------------+
|  The Project Gutenberg EBook of Pride and Prejudice, by Jane Austen|
|                                                                    |
|    This eBook is for the use of anyone anywhere at no cost and with|
|almost no restrictions whatsoever.  You may copy it, give it away or|
| re-use it under the terms of the Project Gutenberg License included|
|                      with this eBook or online at www.gutenberg.org|
|                                                                    |
|                                                                    |
|                                          Title: Pride and Prejudice|
|                                                                    |
|                                                 Author: Jane Austen|
|                                                                    |
|                         Posting Date: August 26, 2008 [EBook #1342]|
|                                            Release Date: June, 1998|
|                                        Last Updated: March 10, 2018|
|                                                                    |
|                                                   Language: English|
|                                                                    |
|                                       Character set encoding: UTF-8|
|                                                                    |
+--------------------------------------------------------------------+
only showing top 20 rows

In [14]:
# Next we can transform our raw data for use in processing

from pyspark.sql.functions import split 

lines = book.select( # selects data
    split(book.value, " ") # splits the contents of each element in the specified column (series) by the specified token
        .alias("line") # renames the transformed column to a new name
    )

lines.show(5)

+--------------------+
|                line|
+--------------------+
|[The, Project, Gu...|
|                  []|
|[This, eBook, is,...|
|[almost, no, rest...|
|[re-use, it, unde...|
+--------------------+
only showing top 5 rows

In [15]:
# as seen in the docs, select works by projecting 1 or more columns from a dataframe into a new one
print(book.select.__doc__)

# these columns can either be specified as strings or column objects
from pyspark.sql.functions import col 

book.select(book.value) # select the value column from the book df
book.select(book["value"]) # ditto
book.select(col("value")) # ditto
book.select("value") # ditto

Projects a set of expressions and returns a new :class:`DataFrame`.

        .. versionadded:: 1.3.0

        .. versionchanged:: 3.4.0
            Supports Spark Connect.

        Parameters
        ----------
        cols : str, :class:`Column`, or list
            column names (string) or expressions (:class:`Column`).
            If one of the column names is '*', that column is expanded to include all columns
            in the current :class:`DataFrame`.

        Returns
        -------
        :class:`DataFrame`
            A DataFrame with subset (or all) of columns.

        Examples
        --------
        >>> df = spark.createDataFrame([
        ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])

        Select all columns in the DataFrame.

        >>> df.select('*').show()
        +---+-----+
        |age| name|
        +---+-----+
        |  2|Alice|
        |  5|  Bob|
        +---+-----+

        Select a column with other expressions in the DataFrame.

        >>> df.select(df.name, (df.age + 10).alias('age')).show()
        +-----+---+
        | name|age|
        +-----+---+
        |Alice| 12|
        |  Bob| 15|
        +-----+---+

DataFrame[value: string]

In [16]:
# splitting without aliasing
# notice that without aliasing the column is named after the transformation used to generate the column

from pyspark.sql.functions import col, split 

lines2 = book.select(split(col("value"), " ", limit = -1)) # specifies the transformation to convert each sentence to an array of words
print(f"lines2: {lines2}") # print container type

lines2.printSchema() # print schema

lines2.show(5) # trigger "action" which causes the computation to happen so we can display the results for the first 5 elements.

lines2: DataFrame[split(value,  , -1): array<string>]
root
 |-- split(value,  , -1): array (nullable = true)
 |    |-- element: string (containsNull = false)

+--------------------+
| split(value,  , -1)|
+--------------------+
|[The, Project, Gu...|
|                  []|
|[This, eBook, is,...|
|[almost, no, rest...|
|[re-use, it, unde...|
+--------------------+
only showing top 5 rows

In [17]:
# columns can be renamed either via "alias" or "withColumnRenamed"

lines3 = book.select(split(book.value, " "))
lines3.printSchema()
# vs with alias which operates on the column
book.select(split(book.value, " ").alias("line")).printSchema()
# vs with withColumnRenamed which operates on the dataframe and requires that you specify the target column and new column name
lines3.withColumnRenamed("split(value,  , -1)", "line").printSchema()

root
 |-- split(value,  , -1): array (nullable = true)
 |    |-- element: string (containsNull = false)

root
 |-- line: array (nullable = true)
 |    |-- element: string (containsNull = false)

root
 |-- line: array (nullable = true)
 |    |-- element: string (containsNull = false)

In [18]:
from pyspark.sql.functions import explode, col 
words = lines.select(explode(col("line")).alias("word"))
words.show(15)

+----------+
|      word|
+----------+
|       The|
|   Project|
| Gutenberg|
|     EBook|
|        of|
|     Pride|
|       and|
|Prejudice,|
|        by|
|      Jane|
|    Austen|
|          |
|      This|
|     eBook|
|        is|
+----------+
only showing top 15 rows

In [19]:
# lower case the words
from pyspark.sql.functions import lower 
words_lower = words.select(lower(words.word).alias("word_lower"))
words_lower.show()

+----------+
|word_lower|
+----------+
|       the|
|   project|
| gutenberg|
|     ebook|
|        of|
|     pride|
|       and|
|prejudice,|
|        by|
|      jane|
|    austen|
|          |
|      this|
|     ebook|
|        is|
|       for|
|       the|
|       use|
|        of|
|    anyone|
+----------+
only showing top 20 rows

In [20]:
# remove non words
from pyspark.sql.functions import regexp_extract
words_clean = words_lower.select(
    regexp_extract(words_lower.word_lower, "[a-z]+", 0).alias("word")
)
words_clean.show()

+---------+
|     word|
+---------+
|      the|
|  project|
|gutenberg|
|    ebook|
|       of|
|    pride|
|      and|
|prejudice|
|       by|
|     jane|
|   austen|
|         |
|     this|
|    ebook|
|       is|
|      for|
|      the|
|      use|
|       of|
|   anyone|
+---------+
only showing top 20 rows

In [21]:
exo_2_1_df = spark.createDataFrame([{"numbers": [1,2,3,4,5]}, {"numbers": [5,6,7,8,9,10]}])
exo_2_1_df.show()

+-------------------+
|            numbers|
+-------------------+
|    [1, 2, 3, 4, 5]|
|[5, 6, 7, 8, 9, 10]|
+-------------------+

In [22]:
solution_2_1_df = exo_2_1_df.select(explode(exo_2_1_df.numbers))
print(f"solution_2_1_df contains {solution_2_1_df.count()} records")
solution_2_1_df.show(15)

solution_2_1_df contains 11 records
+---+
|col|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
+---+

In [23]:
# Filtering rows
words_nonnull = words_clean.filter(words_clean.word != "")
words_nonnull.show()

+---------+
|     word|
+---------+
|      the|
|  project|
|gutenberg|
|    ebook|
|       of|
|    pride|
|      and|
|prejudice|
|       by|
|     jane|
|   austen|
|     this|
|    ebook|
|       is|
|      for|
|      the|
|      use|
|       of|
|   anyone|
| anywhere|
+---------+
only showing top 20 rows

In [24]:
words_nonnull_by_negate = words_clean.filter(~(words_clean.word == ""))
words_nonnull_by_negate.show()

+---------+
|     word|
+---------+
|      the|
|  project|
|gutenberg|
|    ebook|
|       of|
|    pride|
|      and|
|prejudice|
|       by|
|     jane|
|   austen|
|     this|
|    ebook|
|       is|
|      for|
|      the|
|      use|
|       of|
|   anyone|
| anywhere|
+---------+
only showing top 20 rows

In [25]:
dir(words_nonnull.word)
words_nonnull.word.starts

Column<'word[starts]'>

In [26]:
# you can create dataframes by specifying an array of row arrays followed by an array of column names
exo2_2_df = spark.createDataFrame(
    [["test", "more test", 100], ["bob", "joe", 20]], # array of row arrays
    ["col1", "col2", "col3"] # column array
)

exo2_2_df.printSchema()

# two automatically count the number of non string columns we can iterate of the dtypes list
print(exo2_2_df.dtypes)

non_string_count = 0
for type in exo2_2_df.dtypes:
    print(type[1])
    if 'string' != type[1]:
        non_string_count = non_string_count + 1
print(non_string_count)

# or in the book solution, we can use a list comprehension 
print(len([x for x, y, in exo2_2_df.dtypes if y!= "string"]))

testB = [("1", 2, 3), ("1", 3, 3)]
print(len([x for x, y, z, in testB if z == 3]))

root
 |-- col1: string (nullable = true)
 |-- col2: string (nullable = true)
 |-- col3: long (nullable = true)

[('col1', 'string'), ('col2', 'string'), ('col3', 'bigint')]
string
string
bigint
1
1
2

In [27]:
# exercise 2.3, alias vs withColumnRenamed

from pyspark.sql.functions import col, length

exo2_3_df =  (
    spark.read.text("./data/gutenberg_books/1342-0.txt")
    .select(length(col("value")))
    .withColumnRenamed("length(value)", "number_of_char")
)

exo2_3_df.printSchema()

exo2_3_df_alias = (
    spark.read.text("data/gutenberg_books/1342-0.txt")
    .select(length(col("value")).alias("number_of_char"))
)

exo2_3_df_alias.printSchema()

root
 |-- number_of_char: integer (nullable = true)

root
 |-- number_of_char: integer (nullable = true)

In [28]:
# exercise 2.4
from pyspark.sql.functions import col, greatest

exo2_4_df = spark.createDataFrame(
    [["key", 10_0000, 20_000]], 
    ["key", "value1", "value2"]
)

exo2_4_df.printSchema()
exo2_4_df.show()

root
 |-- key: string (nullable = true)
 |-- value1: long (nullable = true)
 |-- value2: long (nullable = true)

+---+------+------+
|key|value1|value2|
+---+------+------+
|key|100000| 20000|
+---+------+------+

In [29]:
# q2.4
from pyspark.sql.utils import AnalysisException

try:
    exo2_4_mod = exo2_4_df.select(
        col("key"),
        greatest(col("value1"), col("value2"))
        .alias("maximum_value")
    )
    exo2_4_mod.show()
except AnalysisException as err:
    print(err)

+---+-------------+
|key|maximum_value|
+---+-------------+
|key|       100000|
+---+-------------+

In [30]:
# q2.5
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, split, explode, lower, regexp_extract
spark = SparkSession.builder.getOrCreate()

book = spark.read.text("./data/gutenberg_books/1342-0.txt")
lines = book.select(split(book.value, " ").alias("line"))
words = lines.select(explode(col("line")).alias("word"))
words_lower = words.select(lower(words.word).alias("word_lower"))
words_clean = words_lower.select(
    regexp_extract(words_lower.word_lower, "[a-z]*", 0).alias("word")
)
words_nonnull = words_clean.where(col("word") != "")
print(words_nonnull.count())
words_no_is = words_nonnull.where(words_nonnull.word != "is")
words_no_is.count()

words_longer_than_three = words_clean.where(length(words_clean.word) > 3)
print(words_longer_than_three.count())

122157
66899

In [31]:
# exercise 2.6 -> removing stop words
words_no_stop = words_nonnull.where(words_nonnull.word.isin(["is", "not", "the", "if"]))
print(words_no_stop.count())

7088

In [32]:
# exercise 2.7 fix bug
from pyspark.sql.functions import col, split
 
try:
    book = spark.read.text("./data/gutenberg_books/1342-0.txt")
    #book = book.printSchema() # this would have unassigned the dataframe
    book.printSchema()
    lines = book.select(split(book.value, " ").alias("line"))
    words = lines.select(explode(col("line")).alias("word"))
except AnalysisException as err:
    print(err)

root
 |-- value: string (nullable = true)

In [33]:
# grouping 
groups = words_nonnull.groupby(words_nonnull.word)
print(groups)
results = groups.count()
print(results)
results.orderBy(col("count").desc()).show()

GroupedData[grouping expressions: [word: string], value: [word: string], type: GroupBy]
DataFrame[word: string, count: bigint]
+----+-----+
|word|count|
+----+-----+
| the| 4480|
|  to| 4218|
|  of| 3711|
| and| 3504|
| her| 2199|
|   a| 1982|
|  in| 1909|
| was| 1838|
|   i| 1750|
| she| 1668|
|that| 1487|
|  it| 1482|
| not| 1427|
| you| 1301|
|  he| 1296|
|  be| 1257|
| his| 1247|
|  as| 1174|
| had| 1170|
|with| 1092|
+----+-----+
only showing top 20 rows

In [34]:
a = words_nonnull.select(length(words_nonnull.word).alias("length")).groupby("length")
b = a.count()
b.orderBy(col("count").desc()).show()

+------+-----+
|length|count|
+------+-----+
|     3|28154|
|     2|23349|
|     4|21766|
|     5|11880|
|     6| 9218|
|     7| 8620|
|     9| 5141|
|     8| 5101|
|     1| 3755|
|    10| 2446|
|    11| 1378|
|    12|  811|
|    13|  391|
|    14|  107|
|    15|   32|
|    16|    5|
|    17|    3|
+------+-----+

In [35]:
# generates a 
b.orderBy(col("count").desc()).write.csv("./data/simple_count_csv", "overwrite")

In [36]:
results = words_nonnull.groupBy(col("word")).count()
results.orderBy("count", ascending=False).show(10)
results.coalesce(1).write.csv("./data/simple_word_count_csv", "overwrite") # coalesce shrinks the partitions down to 1

+----+-----+
|word|count|
+----+-----+
| the| 4480|
|  to| 4218|
|  of| 3711|
| and| 3504|
| her| 2199|
|   a| 1982|
|  in| 1909|
| was| 1838|
|   i| 1750|
| she| 1668|
+----+-----+
only showing top 10 rows

In [37]:
import pyspark.sql.functions as F # allows you to pull all the functions like col, explode, lower, et. al.

# you can also make the program much more compact but not assigning the intermemdiate transformation results to separate variables.
results = (spark.read.text("./data/gutenberg_books/1342-0.txt")
           .select(F.split(F.col("value"), " ").alias("line"))
           .select(F.explode(F.col("line")).alias("word"))
           .select(F.lower(F.col("word")).alias("word"))
           .select(F.regexp_extract(F.col("word"), "[a-z']*", 0).alias("word"))
           .where(F.col("word") != "")
           .groupby("word")
           .count()
           )
results.orderBy(F.col("count").desc()).show(10)

+----+-----+
|word|count|
+----+-----+
| the| 4480|
|  to| 4218|
|  of| 3711|
| and| 3504|
| her| 2199|
|   a| 1982|
|  in| 1909|
| was| 1838|
|   i| 1749|
| she| 1668|
+----+-----+
only showing top 10 rows

In [38]:
# 3.3 return the number of distinct words
results.count()

6595

In [39]:
def getNumDistinctWords(inputPath: str, spark: SparkSession = spark) -> int:
    results = (
        spark.read.text(inputPath)
        .select(F.split(F.col("value"), " ").alias("line"))
        .select(F.explode(F.col("line")).alias("word"))
        .select(F.lower(F.col("word")).alias("word"))
        .select(F.regexp_extract(F.col("word"), "[a-z']*", 0).alias("word"))
        .where(F.col("word") != "")
        .groupby("word").count()
    )
    return results.count()

print(getNumDistinctWords("./data/gutenberg_books/1342-0.txt", spark))

6595

In [40]:
results.columns

['word', 'count']

In [41]:
# exercise 3.4 list 5 words that only show up once in the input text
results.where(F.col("count") == 1).show(5)

+------------+-----+
|        word|count|
+------------+-----+
|   imitation|    1|
|     solaced|    1|
|premeditated|    1|
|     elevate|    1|
|   destitute|    1|
+------------+-----+
only showing top 5 rows

In [42]:
# exercise 3.5a list most populate first letter
def getNumDistinctFirstChar(inputPath: str, spark: SparkSession = spark) -> int:
    results = (
        spark.read.text(inputPath)
        .select(F.split(F.col("value"), " ").alias("line"))
        .select(F.explode(F.col("line")).alias("word"))
        .select(F.lower(F.col("word")).alias("word"))
        .select(F.regexp_extract(F.col("word"), "[a-z']*", 0).alias("word"))
        .where(F.col("word") != "")
        .select(F.substring(F.col("word"), 1, 1).alias("firstchar"))
        .groupby("firstchar").count()
        .orderBy(F.desc(F.col("count")))
    )
    return results

res = getNumDistinctFirstChar("./data/gutenberg_books/1342-0.txt", spark)

print(res)
res.show(5)

DataFrame[firstchar: string, count: bigint]
+---------+-----+
|firstchar|count|
+---------+-----+
|        t|16101|
|        a|13684|
|        h|10419|
|        w| 9091|
|        s| 8791|
+---------+-----+
only showing top 5 rows

In [43]:
res.where(F.col("firstchar").isin("a", "e", "i", "o", "u")).show(5)

+---------+-----+
|firstchar|count|
+---------+-----+
|        a|13684|
|        i| 8202|
|        o| 7199|
|        e| 3377|
|        u| 1060|
+---------+-----+

In [44]:
res.select(F.col("firstchar").isin("a", "e", "i", "o", "u").alias("isvowel"), F.col("count")).groupby("isvowel").sum().show(2)

+-------+----------+
|isvowel|sum(count)|
+-------+----------+
|   true|     33522|
|  false|     88653|
+-------+----------+

In [45]:
# the following code fails because count() and sum() generate dataframe objects. DataFrame objects don't have a "sum" method
res.groupby("firstchar").count().sum()

AttributeError: 'DataFrame' object has no attribute 'sum'